 .swiper-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}

.swiper-slide {
    width: 592px;
    height: 144px;
    @include border-radius(6px);
    @include background-clip(padding-box);
    background-color: rgba(255, 255, 255, .6);

}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
    background-color: rgba(0,0,0,0);
    .reviews__carousel--item--text {
       display: none; 
    }
}

.swiper-slide.swiper-slide-prev .reviews__carousel--item--user {
    float: right;
}

.swiper-button-prev,
.swiper-button-next {
    background-image: url('../img/arrows.png');
    width: 16px;
    height: 25px;
    background-size: inherit;
    top: 55%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.swiper-button-prev {
    background-position: 0px 0px;
    left: 50px;
    &:hover, &:focus {
        background-position: -18px 0px;
    }
}
.swiper-button-next {
    background-position: -38px 0px;
    right: 50px;
    &:hover, &:focus {
        background-position: -56px 0px;
    }
}
